@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes initModal {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.6;
  }
}

.modalInit {
  animation: initModal 0.5s ease-in-out 0s 1 normal forwards;
}

.modalClose {
  animation: initModal 0.5s ease-in-out 0s 1 reverse forwards;
}

@keyframes sliding {
  from {
    transform: translateX(-300px);
  }
  to {
    transform: translateX(0px);
  }
}

.menuInit {
  animation: sliding 0.5s ease-in-out 0s 1 normal forwards;
}

.menuClose {
  animation: sliding 0.5s ease-in-out 0s 1 reverse forwards;
}
